  .row{
    margin-right: 0;
  }

  .profile-picture {
    width: 160px;
    height: 160px;
    border: 5px solid #ED8453;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .navigation {
    background-color: #A0522D;
    padding: 10px;
    height: 720px;

    
  }
  .navigation ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;

  }
  .navigation ul li {
    margin-bottom: 15px;
    
  }
  .navigation ul li a{
    text-decoration: none;
    color: rgb(193, 187, 187);
    font-size: 20px;
    font-weight: 600;
  }

  #experience{
    padding: 0 40px;
    margin-top: 15%;
  }
  
  #experience .title{
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: bold;
  }

  .experience_item {
    margin-bottom: 60px;
  }
  
  .job-title {
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
  
  .date {
    font-size: 12px;
    font-weight: normal;
    color: #ED8453;
  }
  
  .company {
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(128, 126, 126);
  }
  
  .description {
    font-size: 15px;
    line-height: 1.4;
    font-weight: 600;
    color: rgb(171, 167, 167);
  }
  